/* Icone de navigation */
.icone-navigation{
    position: fixed;
    right: 2rem;
    top:30%;
    background-color: var(--light-yellow);
    padding: 1rem 0.2rem;
    border-radius: 2rem;
    width: 2rem;
    text-align: center;
    
}

nav ul {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
li{
    list-style-type: none;
}
.icon_link{
    color: black;
}