@import 'variable.css';
@import 'modules/nav_bar.css';
@import 'modules/header.css';


*{
    /* font-family: 'geologica'; */
    margin: 0;
    padding: 0;
}

main{
    background-color: (--light-grey);
}
.body{
    display: flex;
    
}

.current{
    color: #fff;
}